<div class="px-8 overflow-y-hidden h-svh overflow-x-auto">
  <div class="mat-elevation-z8 mt-32 md:w-3/4 w-full mx-auto justify-center mat-table-container">
    <mat-form-field class="w-full -mb-5">
      <mat-label>Search...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="John Wick" #input />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-table bg-slate-800">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="text-[#95a3af]">
          ID
        </th>
        <td mat-cell *matCellDef="let element" class="cell">
          {{ element.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="text-[#95a3af]">
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="cell bg-[#1f2937]">
          {{ element.first_name }} {{ element.last_name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef  [ngClass]="{'hidden': isSmallScreen}" [style.background-color]="color" class="text-[#95a3af]">
          Email
        </th>
        <td mat-cell *matCellDef="let element"  [ngClass]="{'hidden': isSmallScreen}" class="cell">
          {{ element.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="text-[#95a3af]"></th>
        <td mat-cell *matCellDef="let element" class="cell">
          <button mat-raised-button color="primary" (click)="viewUser(element.id)"
            [routerLink]="['/user-details', element.id]">
            View
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row [style.background-color]="color" [style.color]="text_color"
        *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [style.background-color]="bg" class="rounded-b-md" (page)="handlePageEvent($event)"
      [length]="length" [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
      [pageIndex]="pageIndex">
    </mat-paginator>
  </div>
</div>
